@CHARSET "UTF-8";

#productdetail_shadow .pic
{
	width: 430px;
	height: 430px;
	margin: 30px 20px 0px 10px; 
/* 	padding-bottom:20px; */
	float:left;
	
	-webkit-box-shadow:0 10px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 10px 15px rgba(0, 0, 0, 0.3);
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.3);
}

#productdetail_shadow .pic div
{
/* 	margin: 0px auto; */
	width: 440px;
	height: 440px;
	padding: 10px;
	border: 2px solid rgb(229, 229, 229);
}

#productdetail_shadow .detail
{
	float:left;
	width:200px;
	height:150px;
}

#productdetail_shadow .detail table {
	padding-top:50px;
	font-size: 12px;
	line-height: 40px;
}

#productdetail_shadow .detail th {
	padding-right: 10px;
	color: rgb(51, 51, 51);
	text-align: left;
	font-weight: normal;
	vertical-align: top;
}

#productdetail_shadow .detail td {
	color: rgb(102, 102, 102);
}