#products_list li{
	width: 150px;
	height: 200px;
	display: inline-block;
	zoom: 1;
    *display: inline;
}

/* #category_tree li a {
	display: inline-block;
	zoom: 1;
    *display: inline;
    margin: 0;
    padding-top:0;
    padding-bottom:0;
    
} */

#products_list{
	margin: 0;
	padding: 0;
}

#products_list li{
	vertical-align:bottom
}

.sf-menu li{
	background: tranparent;
}

.sf-menu a{
	background: white;
	border: 1px solid #8A9BA8;
	border-radius: 0 5px 5px 0; 
}

