ul.thumb {
	float: left;
	list-style: none;
	margin: 0;
	padding: 10px 10px 0px 10px;
	width: 100%;
/* 	background-color: white; */
}

ul.thumb li {
	margin: 0;
	padding: 5px;
	float: left;
	position: relative;
	width: 165px;
	height: 165px;
}

ul.thumb li img {
	width: 155px;
	height: 155px;
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0;
	top: 0;
	-ms-interpolation-mode: bicubic;
}

ul.thumb li img.hover {
	margin-top: 15px;
	background: url(/zhgy/images/thumb_bg.png) no-repeat center center;
	border: none;
}

.title {
	position: absolute;
	width: 185px;
	height: 35px;
	margin: 0;
	font-weight: 900;
	background: url(/zhgy/images/blue.png) no-repeat center center;
	padding: 17px 0 0 0;
	text-align: center;
	color: #fff;
}

ul.product-title {
	list-style: none;
	margin: 0;
	padding: 0px 10px 0px 10px;
	width: 100%;
	 
}

ul.product-title li {
	margin: 0;
	padding: 0px 5px 20px 5px;
	float: left;
	position: relative;
	width: 165px;
	border-bottom: 1px solid rgb(229, 229, 229);
	margin-bottom: 5px;
}

ul.product-title .item-cescription {
	padding: 0px 5px;
	text-align: center;
}