<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory >

		<!-- local connection properties -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/zhgydb</property>
		
<!-- 		<property name="hibernate.connection.username">zhgy</property> -->
<!-- 		<property name="hibernate.connection.password">zhgy</property> -->

		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<!-- property name="hibernate.connection.pool_size"></property -->
		
		<!-- 使用c3p0连接池 -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.max_size">30</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.validate">true</property>
<!-- 		<property name="hibernate.c3p0.validate">false</property> -->
		 

		<!-- dialect for MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>
<!--         <property name="hibernate.show_sql">false</property> -->
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <mapping resource="mapping-files/Category.hbm.xml" ></mapping>
        <mapping resource="mapping-files/CompanyInfo.hbm.xml" ></mapping>
        <mapping resource="mapping-files/Information.hbm.xml" ></mapping>
        <mapping resource="mapping-files/InformationLog.hbm.xml" ></mapping>
        <mapping resource="mapping-files/Picture.hbm.xml" ></mapping>
        <mapping resource="mapping-files/Product.hbm.xml" ></mapping>
        <mapping resource="mapping-files/ProductLog.hbm.xml" ></mapping>
        <mapping resource="mapping-files/Message.hbm.xml" ></mapping>
        
    </session-factory>
</hibernate-configuration>